$background-color: white;
$black: black;
$white: white;
$primary-color: #ff1655;
$text-color-accent: #5f8fdf;
$text-color-success: #13ce66;
$text-color-warning: #f7ba2a;
$text-color-danger: #ec205f;
$text-color-info: #909399;
